html {
    --primary-color: #041E42; /* Florida Panthers Dark Blue */
    --secondary-color: #C8102E; /* Florida Panthers Red */
    --accent-color: #B9975B; /* Gold Accent */
    --text-color: #FFFFFF;
    --bg-color: #F1F1F1;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    color: var(--secondary-color);
  }
  
  button {
    background-color: #C8102E; /* Red background */
    color: #B9975B; /* Gold font */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #110f53; /* Darker red on hover */
  }
  .card {
    background-color: var(--text-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    color: var(--primary-color);
  }